<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <header>
            <h1><a href="{{ app.url_generator.generate('home') }}">Blog WSF RM</a></h1>
            <nav>
                <ul>
                    {% if user is defined %}
                        {% if user %}
                            <li>
                                <a href="{{ app.url_generator.generate('getAdmin') }}">Admin</a>
                            </li>
                        {% endif %}
                    {% endif %}



                    <div class="login">


                        {% if user is defined %}
                            {% if user %}
                                <li>
                                    <a href="{{ app.url_generator.generate('home') }}">Bienvenue, {{ user.name }}</a>
                                </li>
                            {% else  %}
                                <li>
                                    <a href="{{ app.url_generator.generate('login') }}">Login</a>
                                </li>
                                 <li>
                                    <a href="{{ app.url_generator.generate('register') }}">Register</a>
                                </li>
                            {% endif %}
                        {% endif %}

                    </div>

                    
                </ul>
            </nav>

        </header>
        <div id="content" class="wrapper">{% block content %}{% endblock %}</div>
        <div id="footer">
            <a href="http://www.romainmalnoult.com">By Romain Malnoult</a>
        </div>
    </body>
</html>
